.profile {
  height: 400px;
  width: 100%;
  background-color: #fa8a00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  font-size: 24px;
  font-family: 'Source Sans 3', sans-serif;
  color: #FFFFFF; /* Font color */
}

.profile img {
  width: 200px; /* Adjust the size of the avatar */
  height: 200px;
  object-fit: cover;
}

.profile h2 {
  margin: 10px 0 0;
}


@media (min-width: 1080px) {
  .profile {
    flex-direction: column;
    width: 30%;
    padding-top: 0;
  }
}