/* Styling for the navigation bar */
nav {
  background-color: #4056A1;
  display: flex;
  position: fixed;
  height: 120px;
  width: 100vw; /* Full width of the viewport */
  color: #FFFFFF; /* Font color */
  padding: 0 1.5em; /* Space on the right and left */
  box-sizing: border-box; /* Ensures padding is included in height and width */
  align-items: center;
  justify-content: space-between; /* Space between items */
  z-index: 2;
}

/* Styling for the <span> element within <nav> */
nav span {
  font-family: 'Bungee', cursive; /* Font-family for <span> elements */
}

/* Container for the "Write a new tweet" text and icon */
.nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-right:hover {
  color: white;
  cursor: pointer;
}

.nav-text {
  display: block; /* Ensures the text is a block-level element */
  margin-bottom: 5px; /* Space between text and icon */

}

.nav-icon {
  display: inline-block; /* Ensures the icon is centered under the text */
  color: red; /* Sets the color of the icon to red */
  animation: bounce 1s infinite; /* Apply the bounce animation */
}

.nav-icon:hover {
  color: white;
  cursor: pointer;
}

nav span:hover {
  cursor: pointer;
}

/* Setup bouncing animation for downward arrows icon */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px); /* bounce height */
  }
  100% {
    transform: translateY(0);
  }
}
