/* New tweet section styling */
.new-tweet {
  margin-top: 20px;
  position: relative;
}

/* What are you humming about styling */
.new-tweet label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  border-bottom: 2px solid; /* Add a line between label and textara */
  padding-bottom: 5px;
}

/* Text area styling */
.new-tweet textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Add a drop shadow to the text area */
.new-tweet textarea:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}

/* Tweet button styling */
.new-tweet button {
  background-color: #4056A1; /* Blue background for the button */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Bungee', cursive; /* Font-family for Bungee font */
  display: block;
  margin-top: 10px;
}

/* Tweet button hover effect */
.new-tweet button:hover {
  background-color: #0d95e8; /* Slightly darker blue for hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}

/* Counter styling */
.counter {
  position: absolute;
  right: 0;
  bottom: 10px; 
  font-family: 'Bungee', cursive; /* Font-family for Bungee font */
  font-size: 1em;
}
